html, body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
#canvasContainer{
    margin: 0 auto;
    position: relative;
    height: 550px;
    width: 800px;
}
canvas{
    background-color: #1F2227;
}
button{
    position: relative;
    top: 20px;
    margin: 0 10px;
    border: white 2px solid;
    outline: none;
    user-select: none;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    background-color: transparent;
    color: white;
}